doctype html
html
	head
		title watch test
		style.
			.test2{
				background: green;
				height: 500px
			}
			.slider{
				height: 20px;
				width: 200px;
				background: red;
			}
			.slideBtn{
				display: inline-block;
				height: 15px;
				width: 15px;
				border-radius: 50%;
				background: white;
			}
	body
		h1 Test watch:
		div
			div.test2
				a.test1(href="#test")
					span test link

		div.slider
			span.slideBtn

		script(src="../build/reactor.js")
		script(src="watch.js")
