doctype html
html
	head
		title watch test
		style.
			.test2{
				background: green;
				height: 500px
			}
	body
		h1 Test watch:
		div
			div.test2
				a.test1(href="#test")
					span test link

		script(src="../build/reactor.js")
		script(src="watch.js")
